body{
    font: 14px Arial, Helvetica, sans-serif;
}
.wrapper_01{
    width: 1100px;
    margin: 0 auto;
}
.wrapper_02{
    width: 980px;
    margin: 0 auto;
}
.wrapper_03{
    width: 982px;
    margin: 0 auto;
}

.topbar_sprite{
    display: inline-block;
    background-image: url(../images/topbar.png);
}
.topbar_icon_hot{
    width: 28px;
    height: 19px;
    background-position: -190px 0;
}
.btn_sprite{
    display: inline-block;
    background: url(../images/btn_sprite.png) no-repeat;
}
.btn_type_01_sup{
    background-position: right -100px;
    padding-right: 5px;
    height: 31px;
    line-height: 31px;
    text-align: center;
}
.btn_type_01_sub{
    display: block;
    background-position: 0 -59px;
    padding-left: 3px;
    height: 31px;
}

.icon_sprite{
    display: inline-block;
    background-image: url(../images/music_sprite_02.png);
}
.icon_sprite_music{
    background-position: 0px -24px;
    width: 14px;
    height: 11px;
}
.icon_sprite_play_01{
    background-position: 0 0;
    width: 16px;
    height: 17px;

}

.iconall_sprite{
    display: inline-block;
    background-image: url(../images/icon.png);
}
.iconall_sprite_radio{
    background-position: -31px -658px;
    width: 35px;
    height: 15px;
}