<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>网易云音乐</title>
    <link rel="shortcut icon" href="//s1.music.126.net/style/favicon.ico?v20180823">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/body_haeder.css">
    <link rel="stylesheet" href="../css/body_banber.css">
    <link rel="stylesheet" href="../css/body_main.css">
    <link rel="stylesheet" href="../css/body_main_right.css">
    <link rel="stylesheet" href="../css/body_main_left.css">
    <link rel="stylesheet" href="../css/foot.css">
    <link rel="stylesheet" href="../css/button.css">
    <link rel="stylesheet" href="../css/hot_anchor.css">
    
</head>
<body>
    <!-- haeder部分 top nav -->
    <div class="header">
        <div class="top">
            <div class="topbar wrapper_01">
                <div class="bar-left">
                    <h1 class="logo">
                        <a href="#">网易云音乐</a>
                    </h1>
                    <ul class="list">
                        <li><a href="#" class="item active">发现音乐</a></li>
                        <li><a href="#" class="item">我的音乐</a></li>
                        <li><a href="#" class="item">关注</a></li>
                        <li><a href="#" class="item">商城</a></li>
                        <li><a href="#" class="item">音乐人</a></li>
                        <li>
                            <a href="#" class="item">
                                下载客户端
                                <i class=" topbar_sprite topbar_icon_hot icon-hot"></i>
                            </a>
                        </li>
                    </ul>
                </div>
    
    
                <div class="bar-right">
                    <div class="search">
                        <input type="text" placeholder="音乐/视频/电台/用户">
                    </div>
                    <div class="anthor">
                        <a href="#">创作者中心</a>
                    </div>
                    <div class="login">
                        <a href="#">登录</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav">
                        <div class="navbar wrapper_01">
                            <ul class="list">
                                <li><a href="#" class="item active"><span>推荐</span></a></li>
                                <li><a href="#" class="item"><span>排行榜</span></a></li>
                                <li><a href="#" class="item"><span>歌单</span></a></li>
                                <li><a href="#" class="item"><span>主播电台</span></a></li>
                                <li><a href="#" class="item"><span>歌手</span></a></li>
                                <li><a href="#" class="item"><span>新碟上架</span></a></li>
                            </ul>
                        </div>
        </div>
    </div>

    <!-- banner部分 -->
    <div class="banner">
        <div class="area wrapper_03">
            <div class="area-left">
                <ul class="img-list">
                    <li>
                        <a class="item" href="#">
                            <img src="../images/banner_bg_02.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="item" href="#">
                            <img src="../images/banner_bg_02.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="item" href="#">
                            <img src="../images/banner_bg_02.jpg" alt="">
                        </a>
                    </li>
                </ul>
                <ul class="dots-list">
                    <li><a class="item active" href="#"></a></li>
                    <li><a class="item" href="#"></a></li>
                    <li><a class="item" href="#"></a></li>
                    <li><a class="item" href="#"></a></li>
                    <li><a class="item" href="#"></a></li>
                    <li><a class="item" href="#"></a></li>
                    <li><a class="item" href="#"></a></li>
                    <li><a class="item" href="#"></a></li>
                    <li><a class="item" href="#"></a></li>
                    <li><a class="item" href="#"></a></li>
                </ul>
            </div>
            <div class="area-right">
                <a class="download" href="#">下载客户端</a>
                <p class="desc">PC 安卓 iPhone WP iPad Mac 六大客户端</p>
            </div>
            <a class="control left" href="#"></a>
            <a class="control right" href="#"></a>
        </div>
    </div>

    <!-- main部分 -->
    <div class="main">
        <div class="area wrapper_02">
            <div class="area-left">
               <div class="recommend-section">
                <div class="header_type_02">
                  
                    <div class="left-area">
                        <h2 class="title">热门推荐</h2>
                        <ul class="keywords">
                            <li><a class="item" href="#">华语</a></li>
                            <li class="line">|</li>
                            <li><a class="item" href="#">流行</a></li>
                            <li class="line">|</li>
                            <li><a class="item" href="#">摇滚</a></li>
                            <li class="line">|</li>
                            <li><a class="item" href="#">民谣</a></li>
                            <li class="line">|</li>
                            <li><a class="item" href="#">电子</a></li>
                          
                        </ul>
                    </div>
                    <div class="right-area">
                        <a class="more" href="#">更多</a>
                    </div>
                </div>
                <div class="list">
                    <div class="item">
                        <div class="top">
                            <img src="../images/recommend-01.jpg" alt="音乐封面">
                            <a class="cover" href="#"></a>
                            <div class="info">
                                <i class=" icon_sprite icon_sprite_music icon-music"></i>
                                <span class="count">6231万</span>
                                <i class="icon_sprite icon_sprite_play_01 icon-play"></i>
                            </div>
                        </div>
                        <a class="bottom" href="#">
                            宝藏挖掘机 · 分享好音乐和金曲
                        </a>
                    </div>
                    <div class="item">
                        <div class="top">
                            <img src="../images/recommend-02.jpg" alt="音乐封面">
                            <a class="cover" href="#"></a>
                            <div class="info">
                                <i class=" icon_sprite icon_sprite_music icon-music"></i>
                                <span class="count">1356万</span>
                                <i class="icon_sprite icon_sprite_play_01 icon-play"></i>
                            </div>
                        </div>
                        <a class="bottom" href="#">
                            成长篇 | 认识到自己的平凡，并且接受
                        </a>
                    </div>
                    <div class="item">
                        <div class="top">
                            <img src="../images/recommend-03.jpg" alt="音乐封面">
                            <a class="cover" href="#"></a>
                            <div class="info">
                                <i class=" icon_sprite icon_sprite_music icon-music"></i>
                                <span class="count">345万</span>
                                <i class="icon_sprite icon_sprite_play_01 icon-play"></i>
                            </div>
                        </div>
                        <a class="bottom" href="#">
                            【怀疑耳机坏了系列】耳机你对耳朵做了什么    
                        </a>
                    </div>
                    <div class="item">
                        <div class="top">
                            <img src="../images/recommend-04.jpg" alt="音乐封面">
                            <a class="cover" href="#"></a>
                            <div class="info">
                                <i class=" icon_sprite icon_sprite_music icon-music"></i>
                                <span class="count">627万</span>
                                <i class="icon_sprite icon_sprite_play_01 icon-play"></i>
                            </div>
                        </div>
                        <a class="bottom" href="#">
                            <i class="iconall_sprite iconall_sprite_radio icon_radio"></i>
                            13.影史排行榜的诞生与颠覆
                        </a>
                    </div>
                    <div class="item">
                        <div class="top">
                            <img src="../images/recommend-05.jpg" alt="音乐封面">
                            <a class="cover" href="#"></a>
                            <div class="info">
                                <i class=" icon_sprite icon_sprite_music icon-music"></i>
                                <span class="count">8742万</span>
                                <i class="icon_sprite icon_sprite_play_01 icon-play"></i>
                            </div>
                        </div>
                        <a class="bottom" href="#">
                            『精选』全网最火超热门歌曲推荐(持续更新)
                        </a>
                    </div>
                    <div class="item">
                        <div class="top">
                            <img src="../images/recommend-06.jpg" alt="音乐封面">
                            <a class="cover" href="#"></a>
                            <div class="info">
                                <i class=" icon_sprite icon_sprite_music icon-music"></i>
                                <span class="count">62万</span>
                                <i class="icon_sprite icon_sprite_play_01 icon-play"></i>
                            </div>
                        </div>
                        <a class="bottom" href="#">
                            <i class="iconall_sprite iconall_sprite_radio icon_radio"></i>
                            二十岁后的人生像是按了加快键
                        </a>
                    </div>
                    <div class="item">
                        <div class="top">
                            <img src="../images/recommend-07.jpg" alt="音乐封面">
                            <a class="cover" href="#"></a>
                            <div class="info">
                                <i class=" icon_sprite icon_sprite_music icon-music"></i>
                                <span class="count">62万</span>
                                <i class="icon_sprite icon_sprite_play_01 icon-play"></i>
                            </div>
                        </div>
                        <a class="bottom" href="#">
                            <i class="iconall_sprite iconall_sprite_radio icon_radio"></i>
                            『90后』小时候的经典神曲
                        </a>
                    </div>
                    <div class="item">
                        <div class="top">
                            <img src="../images/recommend-08.jpg" alt="音乐封面">
                            <a class="cover" href="#"></a>
                            <div class="info">
                                <i class=" icon_sprite icon_sprite_music icon-music"></i>
                                <span class="count">6267万</span>
                                <i class="icon_sprite icon_sprite_play_01 icon-play"></i>
                            </div>
                        </div>
                        <a class="bottom" href="#">
                            一个双子座的听歌列表
                        </a>
                    </div>
                   
                </div>
               </div>
               <div class="disc-section">
                <div class="header_type_02">
                    <div class="left-area">
                        <h2 class="title">新碟上架</h2>
                    </div>
                    <div class="right-area">
                        <a class="more" href="#">更多</a>
                    </div>
                </div>

                    <div class="content">
                        <div class="inner">
                            <div class="roller">
                                <ul class="list">
                                    <li class="item">
                                        <div class="album">
                                            <img src="..//images/album-01.jpg" alt="">
                                            <a class="cover" href="#"></a>
                                            <a class="play" href="#"></a>
                                        </div>
                                        
                                        <a class="title" href="#">冬月初七</a>
                                        <a class="anchor" href="#">张杰</a>
                                    </li>
                                    <li class="item">
                                        <div class="album">
                                            <img src="..//images/album-02.jpg" alt="">
                                            <a class="cover" href="#"></a>
                                            <a class="play" href="#"></a>
                                        </div>
                                        
                                        <a class="title" href="#">Saviors</a>
                                        <a class="anchor" href="#">Green Day</a>
                                    </li>
                                    <li class="item">
                                        <div class="album">
                                            <img src="..//images/album-03.jpg" alt="">
                                            <a class="cover" href="#"></a>
                                            <a class="play" href="#"></a>
                                        </div>
                                        
                                        <a class="title" href="#">american dream</a>
                                        <a class="anchor" href="#">21 Savage</a>
                                    </li>
                                    <li class="item">
                                        <div class="album">
                                            <img src="..//images/album-04.jpg" alt="">
                                            <a class="cover" href="#"></a>
                                            <a class="play" href="#"></a>
                                        </div>
                                        
                                        <a class="title" href="#">THE BREAKING N</a>
                                        <a class="anchor" href="#">张杰ATM Hanson</a>
                                    </li>
                                    <li class="item">
                                        <div class="album">
                                            <img src="..//images/album-05.jpg" alt="">
                                            <a class="cover" href="#"></a>
                                            <a class="play" href="#"></a>
                                        </div>
                                        
                                        <a class="title" href="#">24時·Pm</a>
                                        <a class="anchor" href="#">张杰Jony J</a>
                                    </li>
                                   
                                </ul>
                                <ul class="list">2</ul>
                            </div>
                            <a class="control control-left" href="#"></a>
                            <a class="control control-right" href="#"></a>
                        </div>

                    </div>

               </div>
               <div class="rank-section">
                <div class="header_type_02">
                    <div class="left-area">
                        <h2 class="title">榜单</h2>
                    </div>
                    <div class="right-area">
                        <a class="more" href="#">更多</a>
                    </div>
                </div>

                    <div class="content">
                        <dl class="rank up-rank">
                            <dt class="header">
                                <div class="album">
                                    <img src="../images/up-rank.jpg" alt="飙升榜">
                                    <a class="cover" href="#"></a>
                                </div>
                                <div class="info">
                                    <h3 class="title">飙升榜</h3>
                                    <div class="operation">
                                        <a class="btn play" href="#"></a>
                                        <a class="btn favor" href="#"></a>
                                    </div>
                                </div>
                            </dt>
                            <dd class="list up-list">
                              <ol>
                                <li class="item">
                                    <span class="no">1</span>
                                    <a class="song" href="#">再等冬天</a>
                                    <div class="operation">
                                        <a class="btn play" href="#"></a>
                                        <a class="btn add" href="#"></a>
                                        <a class="btn favor" href="#"></a>
                                    </div>
                                </li>
                                <li class="item">
                                    <span class="no">2</span>
                                    <a class="song" href="#">卜卦</a>
                                    <div class="operation">
                                        <a class="btn play" href="#"></a>
                                        <a class="btn add" href="#"></a>
                                        <a class="btn favor" href="#"></a>
                                    </div>
                                </li>
                                <li class="item">
                                    <span class="no">2</span>
                                    <a class="song" href="#">把回忆拼好给你</a>
                                    <div class="operation">
                                        <a class="btn play" href="#"></a>
                                        <a class="btn add" href="#"></a>
                                        <a class="btn favor" href="#"></a>
                                    </div>
                                </li>
                                <li class="item">
                                    <span class="no">4</span>
                                    <a class="song" href="#">水星记</a>
                                    <div class="operation">
                                        <a class="btn play" href="#"></a>
                                        <a class="btn add" href="#"></a>
                                        <a class="btn favor" href="#"></a>
                                    </div>
                                </li>
                                <li class="item">
                                    <span class="no">5</span>
                                    <a class="song" href="#">离别开出花</a>
                                    <div class="operation">
                                        <a class="btn play" href="#"></a>
                                        <a class="btn add" href="#"></a>
                                        <a class="btn favor" href="#"></a>
                                    </div>
                                </li>
                                <li class="item">
                                    <span class="no">6</span>
                                    <a class="song" href="#">悬溺</a>
                                    <div class="operation">
                                        <a class="btn play" href="#"></a>
                                        <a class="btn add" href="#"></a>
                                        <a class="btn favor" href="#"></a>
                                    </div>
                                </li>
                                <li class="item">
                                    <span class="no">7</span>
                                    <a class="song" href="#">在你的身边</a>
                                    <div class="operation">
                                        <a class="btn play" href="#"></a>
                                        <a class="btn add" href="#"></a>
                                        <a class="btn favor" href="#"></a>
                                    </div>
                                </li>
                                <li class="item">
                                    <span class="no">8</span>
                                    <a class="song" href="#">爱的回归线</a>
                                    <div class="operation">
                                        <a class="btn play" href="#"></a>
                                        <a class="btn add" href="#"></a>
                                        <a class="btn favor" href="#"></a>
                                    </div>
                                </li>
                                <li class="item">
                                    <span class="no">9</span>
                                    <a class="song" href="#">偏爱</a>
                                    <div class="operation">
                                        <a class="btn play" href="#"></a>
                                        <a class="btn add" href="#"></a>
                                        <a class="btn favor" href="#"></a>
                                    </div>
                                </li>
                                <li class="item">
                                    <span class="no">10</span>
                                    <a class="song" href="#">忘记时间</a>
                                    <div class="operation">
                                        <a class="btn play" href="#"></a>
                                        <a class="btn add" href="#"></a>
                                        <a class="btn favor" href="#"></a>
                                    </div>
                                </li>
                             </ol>
                             <div class="more">
                                <a class="more" href="#">查看全部 &gt;</a>
                             </div>
                            </dd>
                        </dl>
                        <dl class="rank new-rank">
                            <dt class="header">
                                <div class="album">
                                    <img src="../images/new-rank.jpg" alt="新歌榜">
                                    <a class="cover" href="#"></a>
                                </div>
                                <div class="info">
                                    <h3 class="title">新歌榜</h3>
                                    <div class="operation">
                                        <a class="btn play" href="#"></a>
                                        <a class="btn favor" href="#"></a>
                                    </div>
                                </div>
                            </dt>
                            <dd class="list up-list">
                              <ol>
                                <li class="item">
                                    <span class="no">1</span>
                                    <a class="song" href="#">暖一杯茶</a>
                                    <div class="operation">
                                        <a class="btn play" href="#"></a>
                                        <a class="btn add" href="#"></a>
                                        <a class="btn favor" href="#"></a>
                                    </div>
                                </li>
                                <li class="item">
                                    <span class="no">2</span>
                                    <a class="song" href="#">爱的就是你 1.15x</a>
                                    <div class="operation">
                                        <a class="btn play" href="#"></a>
                                        <a class="btn add" href="#"></a>
                                        <a class="btn favor" href="#"></a>
                                    </div>
                                </li>
                                <li class="item">
                                    <span class="no">3</span>
                                    <a class="song" href="#">小蜜蜂(正版)</a>
                                    <div class="operation">
                                        <a class="btn play" href="#"></a>
                                        <a class="btn add" href="#"></a>
                                        <a class="btn favor" href="#"></a>
                                    </div>
                                </li>
                                <li class="item">
                                    <span class="no">4</span>
                                    <a class="song" href="#">忘了</a>
                                    <div class="operation">
                                        <a class="btn play" href="#"></a>
                                        <a class="btn add" href="#"></a>
                                        <a class="btn favor" href="#"></a>
                                    </div>
                                </li>
                                <li class="item">
                                    <span class="no">5</span>
                                    <a class="song" href="#">关山酒（dj）</a>
                                    <div class="operation">
                                        <a class="btn play" href="#"></a>
                                        <a class="btn add" href="#"></a>
                                        <a class="btn favor" href="#"></a>
                                    </div>
                                </li>
                                <li class="item">
                                    <span class="no">6</span>
                                    <a class="song" href="#">爱在期待</a>
                                    <div class="operation">
                                        <a class="btn play" href="#"></a>
                                        <a class="btn add" href="#"></a>
                                        <a class="btn favor" href="#"></a>
                                    </div>
                                </li>
                                <li class="item">
                                    <span class="no">7</span>
                                    <a class="song" href="#">可能</a>
                                    <div class="operation">
                                        <a class="btn play" href="#"></a>
                                        <a class="btn add" href="#"></a>
                                        <a class="btn favor" href="#"></a>
                                    </div>
                                </li>
                                <li class="item">
                                    <span class="no">8</span>
                                    <a class="song" href="#">桃花诺</a>
                                    <div class="operation">
                                        <a class="btn play" href="#"></a>
                                        <a class="btn add" href="#"></a>
                                        <a class="btn favor" href="#"></a>
                                    </div>
                                </li>
                                <li class="item">
                                    <span class="no">9</span>
                                    <a class="song" href="#">爱，存在</a>
                                    <div class="operation">
                                        <a class="btn play" href="#"></a>
                                        <a class="btn add" href="#"></a>
                                        <a class="btn favor" href="#"></a>
                                    </div>
                                </li>
                                <li class="item">
                                    <span class="no">10</span>
                                    <a class="song" href="#">秋殇别恋</a>
                                    <div class="operation">
                                        <a class="btn play" href="#"></a>
                                        <a class="btn add" href="#"></a>
                                        <a class="btn favor" href="#"></a>
                                    </div>
                                </li>
                             </ol>
                             <div class="more">
                                <a class="more" href="#">查看全部 &gt;</a>
                             </div>
                            </dd>
                        </dl>
                        <dl class="rank origin-rank">
                            <dt class="header">
                                <div class="album">
                                    <img src="../images/oringe.jpg" alt="原创榜">
                                    <a class="cover" href="#"></a>
                                </div>
                                <div class="info">
                                    <h3 class="title">原创榜</h3>
                                    <div class="operation">
                                        <a class="btn play" href="#"></a>
                                        <a class="btn favor" href="#"></a>
                                    </div>
                                </div>
                            </dt>
                            <dd class="list up-list">
                              <ol>
                                <li class="item">
                                    <span class="no">1</span>
                                    <a class="song" href="#">春娇与志明</a>
                                    <div class="operation">
                                        <a class="btn play" href="#"></a>
                                        <a class="btn add" href="#"></a>
                                        <a class="btn favor" href="#"></a>
                                    </div>
                                </li>
                                <li class="item">
                                    <span class="no">2</span>
                                    <a class="song" href="#">姑娘在远方</a>
                                    <div class="operation">
                                        <a class="btn play" href="#"></a>
                                        <a class="btn add" href="#"></a>
                                        <a class="btn favor" href="#"></a>
                                    </div>
                                </li>
                                <li class="item">
                                    <span class="no">3</span>
                                    <a class="song" href="#">恋人心</a>
                                    <div class="operation">
                                        <a class="btn play" href="#"></a>
                                        <a class="btn add" href="#"></a>
                                        <a class="btn favor" href="#"></a>
                                    </div>
                                </li>
                                <li class="item">
                                    <span class="no">4</span>
                                    <a class="song" href="#">赐我</a>
                                    <div class="operation">
                                        <a class="btn play" href="#"></a>
                                        <a class="btn add" href="#"></a>
                                        <a class="btn favor" href="#"></a>
                                    </div>
                                </li>
                                <li class="item">
                                    <span class="no">5</span>
                                    <a class="song" href="#">修炼爱情</a>
                                    <div class="operation">
                                        <a class="btn play" href="#"></a>
                                        <a class="btn add" href="#"></a>
                                        <a class="btn favor" href="#"></a>
                                    </div>
                                </li>
                                <li class="item">
                                    <span class="no">6</span>
                                    <a class="song" href="#">空空如也</a>
                                    <div class="operation">
                                        <a class="btn play" href="#"></a>
                                        <a class="btn add" href="#"></a>
                                        <a class="btn favor" href="#"></a>
                                    </div>
                                </li>
                                <li class="item">
                                    <span class="no">7</span>
                                    <a class="song" href="#">千千万万</a>
                                    <div class="operation">
                                        <a class="btn play" href="#"></a>
                                        <a class="btn add" href="#"></a>
                                        <a class="btn favor" href="#"></a>
                                    </div>
                                </li>
                                <li class="item">
                                    <span class="no">8</span>
                                    <a class="song" href="#">后来我们的爱</a>
                                    <div class="operation">
                                        <a class="btn play" href="#"></a>
                                        <a class="btn add" href="#"></a>
                                        <a class="btn favor" href="#"></a>
                                    </div>
                                </li>
                                <li class="item">
                                    <span class="no">9</span>
                                    <a class="song" href="#">阿拉斯加海湾</a>
                                    <div class="operation">
                                        <a class="btn play" href="#"></a>
                                        <a class="btn add" href="#"></a>
                                        <a class="btn favor" href="#"></a>
                                    </div>
                                </li>
                                <li class="item">
                                    <span class="no">10</span>
                                    <a class="song" href="#">问心</a>
                                    <div class="operation">
                                        <a class="btn play" href="#"></a>
                                        <a class="btn add" href="#"></a>
                                        <a class="btn favor" href="#"></a>
                                    </div>
                                </li>
                             </ol>
                             <div class="more">
                                <a class="more" href="#">查看全部 &gt;</a>
                             </div>
                            </dd>
                        </dl>
                      
                    </div>

               </div>
            </div>
            <div class="area-right">
                <div class="user-login">
                    <p class="desc">
                        登录网易云音乐，可以享受无限收藏的乐趣，并且无限同步到手机
                    </p>
                    <a class="btn" href="#">用户登录</a>
                </div>
                <div class="settle-singer">
                    <div class="header_type_01">
                        <h3 class="title">入驻歌手</h3>
                        <a class="more" href="#">查看全部 &gt;</a>
                    </div>
                    <ul class="list">
                        <li>
                            <a class="item" href="#">
                                <div class="album">
                                    <img src="../images/singer_01.jpg" alt="">
                                </div>
                                <div class="info">
                                    <div class="singer">张惠妹aMEI</div>
                                    <div class="desc">台湾歌手张惠妹</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="item" href="#">
                                <div class="album">
                                    <img src="../images/singer_02.jpg" alt="">
                                </div>
                                <div class="info">
                                    <div class="singer">吴莫愁Momo</div>
                                    <div class="desc">《中国好声音》选手吴莫愁</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="item" href="#">
                                <div class="album">
                                    <img src="../images/singer_03.jpg" alt="">
                                </div>
                                <div class="info">
                                    <div class="singer">孙楠</div>
                                    <div class="desc">歌手孙楠 代表作《你快回来》《燃烧》</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="item" href="#">
                                <div class="album">
                                    <img src="../images/singer_04.jpg" alt="">
                                </div>
                                <div class="info">
                                    <div class="singer">麦田老狼</div>
                                    <div class="desc">歌手，音乐人。代表作《同桌的你》等。</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="item" href="#">
                                <div class="album">
                                    <img src="../images/singer_05.jpg" alt="">
                                </div>
                                <div class="info">
                                    <div class="singer">陈楚生</div>
                                    <div class="desc">唱作歌手</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                  <a class="btn_sprite btn_type_01_sup apply" href="#">
                    <i class="btn_sprite btn_type_01_sub">申请成为网易音乐人</i>
                  </a>
            <div class="hot-anchor">
                <div class="header_type_01">
                    <h3 class="title">
                        热门主播
                    </h3>
                </div>
                <ul class="lst">
                    <li>
                        <a class="ite" href="#">
                            <div class="alb">
                                <img src="../images/hot_anchor_01.jpg" alt="">
                            </div>
                            <div class="inf">
                                <div class="singer">陈立</div>
                                <div class="desc">心理学家、美食家陈立教授</div>
                            </div>
                        </a>
                        
                    </li>
                    <li>
                        <a class="ite" href="#">
                            <div class="alb">
                                <img src="../images/hot_anchor_02.jpg" alt="">
                            </div>
                            <div class="inf">
                                <div class="singer">刘维-Julius</div>
                                <div class="desc">歌手、播客节目《维维道来》</div>
                            </div>
                        </a>
                        
                    </li>
                    <li>
                        <a class="ite" href="#">
                            <div class="alb">
                                <img src="../images/hot_anchor_03.jpg" alt="">
                            </div>
                            <div class="inf">
                                <div class="singer">墨菲定律乐团</div>
                                <div class="desc">男女双人全创作独立乐团</div>
                            </div>
                        </a>
                        
                    </li>
                    <li>
                        <a class="ite" href="#">
                            <div class="alb">
                                <img src="../images/hot_anchor_04.jpg" alt="">
                            </div>
                            <div class="inf">
                                <div class="singer">碎嘴许美达</div>
                                <div class="desc">脱口秀网络红人</div>
                            </div>
                        </a>
                        
                    </li>
                    <li>
                        <a class="ite" href="#">
                            <div class="alb">
                                <img src="../images/hot_anchor_05.jpg" alt="">
                            </div>
                            <div class="inf">
                                <div class="singer">银临Rachel</div>
                              
                            </div>
                        </a>
                        
                    </li>
                </ul>
            </div>
            </div>
        </div>
    </div>

    <!-- foot部分 -->
    <div class="footer">
        <div class="icon-footer">
            <ul class="list-footer">
                <li><a class="item item-01" href="#">
                    <p class="title">音乐开放平台</p>
                </a>
            </li>
                
                <li><a class="item item-02" href="#">
                    <p class="title">云村交易所</p>
                </a>
            </li>
                
                <li><a class="item item-03" href="#">
                    <p class="title">Amped Studio</p>
                </a>
            </li>
               
                <li><a class="item item-04" href="#">
                    <p class="title">X Studio虚拟歌手</p>
                </a>
            </li>
                
                <li><a class="item item-05" href="#">
                    <p class="title">用户认证</p>
                </a>
            </li>
                
                <li><a class="item item-06" href="#">
                    <p class="title">音乐交易平台</p>
                </a>
            </li>
                
                <li><a class="item item-07" href="#">
                    <p class="title">云推歌</p>
                </a>
            </li>
               
                <li><a class="item item-08" href="#">
                    <p class="title">赞赏</p>
                </a>
            </li>        
                      
            </ul>
            <div class="content">
                <a class="cont" href="#">服务条款</a>
                <span class="con">|</span>
                <a class="cont" href="#">隐私政策</a>
                <span  class="con">|</span>    
                <a class="cont" href="#">儿童隐私政策</a>
                <span class="con">|</span>
                <a class="cont" href="#">版权投诉</a>
                <span class="con">|</span>
                <a class="cont" href="#">投资者关系</a>
                <span class="con">|</span>
                <a class="cont" href="#">广告合作</a>
                <span class="con">|</span>
                <a class="cont" href="#">联系我们</a>
            </div>
            <div class="footcont">
                <p class="item">廉正举报 不良信息举报邮箱: 51jubao@service.netease.com 客服热线：95163298</p>
                <p class="item">互联网宗教信息服务许可证：浙（2022）0000120 增值电信业务经营许可证：浙B2-20150198 粤B2-20090191-18  
                    工业和信息化部备案管理系统网站
                </p>
                <p class="item">
                    网易公司版权所有©1997-2024杭州乐读科技有限公司运营：浙网文[2021] 1186-054号  <span class="icon"></span>浙公网安备 33010802013307号
                </p>
            </div>
        </div>
    </div>
</body>
</html>